// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Some Resets 
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

$pcolor: #0090FF;
$mcolor: #fff;

// Usual Spaces
$space: 10px;

body {
    color: $mcolor;
}

section {
    background-color: $pcolor;
    background-image: linear-gradient(to bottom , $pcolor, darken($pcolor,40%));
    background-repeat: repeat;
    height: 100vh; 
    position: relative;
    z-index: 1;
}

section:after {
    background: url("/images/texture.png") repeat;
    opacity: .4;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.label {
    border-radius: 0;
    font-size: 85%;
}

.mid-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
}

.main-title {
    margin-bottom: $space;
    text-align: center;
    font-size: 1.7vw;
}

.login-panel {
    background: rgba( #000, .2 );
    //border-top: 1px solid $mcolor;
    padding: $space*6 $space*4;
}

.modal-style {
    background: rgba(darken($pcolor,30%),.7) !important;
    color: $mcolor !important;
}

.box {
    margin: $space*2 0;
    background: darken($pcolor, 30%);
    .title {
        background: darken($pcolor, 10%);
        padding: $space $space*2;
    }
    p {
        padding: $space*4;
    }
}

.dates {
    padding: $space $space*2;
    text-align: center;
    .day {
        font-size: 24px;
    }
    .date {
        
    }
}

.form-bs {
    border-radius: 0;
}

.btn-bs {
    border-radius: 0;
    background: $mcolor;
    color: #000;
}

.upper-dash {
    padding: $space*4 0;
}

.form-upload {
    padding: $space*2;
}

.upload-files {
    list-style: none;
    padding: $space*2;
    
    li {
        margin: $space;
    }
    li a {
        color: $mcolor;
        margin: $space;
    }
}